*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/*Login Page*/
#loginPage {
  background-color: #004A80;
  height:min-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginBox {
  width: 95%;
  max-width: 900px;
  margin-block: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: linear-gradient(to top, white 50%,white 50%);
  border-radius: 10px;
  padding: 40px 25px;
  border: 4px solid #3C3C3C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}
.loginBox h2{
  text-align: center;
  font-size: 5.5em;
  color: #3C3C3C;
}

.loginBox input{
  color: #000000;
}
.loginField{
  width: 90%;
  padding: 10px;
  margin-block: 15px;
  border: 2px solid #004A80;
  border-radius: 6px;
  display: block;
  font-size: 2.5em;
}

.loginBox select{
  color: #fff;
  background:#004A80;
}

.loginBtnn{
  font-size: 2em;
  cursor: pointer;
  background: #004A80;
  width: 25%;
  padding: 10px 15px;
  color: #fff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  border-radius: 19.5px;
}
.loginBtnn a{
  text-decoration: none;
  color: #ffffff;
}
.loginBox label{
  color: #3C3C3C;
  align-self:normal;
  font-size: 2.5em;
}
img.latrobeLogo{
  width: 100%;
  max-width: 200px;
  min-width: 150px;
}

.imgcontainerlogo {
  text-align: center;
  margin: 24px 0 12px 0;
}
@media (min-width: 650px) {
  .loginBox > h2{
     font-size: 4em;
  }
  .loginField, .loginBtnn, .loginField > label{
    font-size: 1.5em;
  }
  
}

/*Main Pages Header*/
.ramaHeader{
  background-color: #004A80;
  padding: 15px;
  min-height: 106px;
  text-align: center;
  padding: 0;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content:center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.titleBlock{
  margin-block: auto;
  margin-inline: 1em;
  color: white;
}
.titleText{
  font-family: 'Roboto Serif', serif;
  font-size: 4rem;
  margin-block: .3em;
}
nav{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: .5em;
  color: #fff;
}
nav a{
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: white;
  margin-inline: 15px;
}
nav a:hover:not(.active){
  color: #000000;
}
/*Footer*/
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #004A80;
  color: white;
  text-align: center;
  font-size:large;
}  
/*Schedule Page*/
.container{
  margin-inline: auto;
  margin-top: 1em;
  width: 75%;
  max-width: 1100px;
  min-width: 800px;
  padding: 10px;
  font-size: large;
  font-family: sans-serif;
}
/*schedule calendar*/
.lvls{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px
}
.radio {
  display:none;
}
.radiolabel, .submitButton{
  padding: 10px 28px;
  background-color: white;
  color:black;
  border: 2px solid #8B8B8B;
  cursor: pointer;
  font-size: 18px;
  border-radius: 19.5px;
}
#lvl1:checked ~ .lvl1label,
#lvl2:checked ~ .lvl2label,
#lvl3:checked ~ .lvl3label,
#allYears:checked ~ .allYearsLabel,
  .submitButton:hover{
  background-color: #004A80;
  color: #fff;
  font-weight: bold;
}
.submitButton{
  display: block;
  margin-inline: auto;
  margin-block: 1em;
}
.selectbox {
  width: 138px;
  height: 39px;
  text-align: center;
  background:#004A80;
  border: 2px solid #004A80;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
}
#scheduleTable{
  width: 100%;
}
.tableRow{
  display: flex;
  width: 100%;
  margin-block: 1em;
  flex-flow:row;
  justify-items: center;
  justify-content: space-between;
}
.scheduleBox {
  height: 34px;
  width: 34px;
  border-radius: 6px;
}
.graybox {
  background-color: gray;
}
.greenbox {
  background-color: green;
}
.redbox {
background-color: red;
}
.hidden{
  display: none;
}
.scheduleLabel{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  color: white;
  background: #004A80;
  border-radius: 5px;
  text-align: center;
  padding: 7px;
}
/*other forms on schedule page*/
.scheduleInstanceInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-block: 4em;
  text-align: center;
}
.scheduleInstanceInfo select{
  margin-block: 5%;
}
.scheduleInstanceInfo label, .formSectionHeader{
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  color: #3C3C3C;
  display: block;
  margin-top: 10%;
  text-align: left;
}
.formLabel{
  font-weight: bold;
  color: #3C3C3C;
}
.formField {
  width: 15em;
  height: 46px;
  padding: 2px 4px;
  background: #F0F0F0;
  border-style: solid;
  border-color: #004A80;
  border-radius: 6px;
  border-width: 2px;
  font-size: 20px;
  margin-bottom: .75em;
}
.userMessage{
  width: 15em;
  padding: 2px 4px;
  background: #F0F0F0;
  border-radius: 6px;
  border-width: 2px;
  font-size: 20px;
  margin-bottom: .75em;
  border-style: solid;
  text-align: center;
}
.errorMessage{
  border-color: #800000;
  color: #800000;
  
}
.successMessage{
  border-color: #008000;
  color: #008000;
}
.formList{
  min-height: 1em;
  list-style-type: none;
  text-align: left;
}
.listContainer{
  background-color: #F0F0F0;
  padding-inline: 4px;
  padding-block:.5em;
  border-style: solid;
  border-color: #004A80;
  border-radius: 6px;
  border-width: 2px;
  margin-bottom: .75em;
}
  
#enrolments{
  color: black;
}
/*Subjects Page*/
.flexContainer {
  display: flex;
  margin-inline: auto;
  margin-top: 1em;
  margin-bottom: 5em;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: space-evenly;
  width: 85%;
}
.pageForm{
  padding: 10px 15px;
  border: 3px solid #004A80;
  border-radius: 6px;
  height:fit-content;
  margin-inline: 2em;
  margin-bottom: 3em;
}
.formTitle {
  text-align: center;
  margin-block: .5em;
}

/*specific to academics page*/
.checkboxContainer{
  width: 313px;
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  padding: 4px;
  border-style: solid;
  border-color: #004A80;
  border-radius: 6px;
  border-width: 2px;
  margin-bottom: .75em;
}
.academicsCheckbox{
  display: none;
}
.checkboxLabel{
  width: 6em;
  height: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: solid 1px #000000;
  background-color:#F0F0F0;
  user-select: none;
}
.checkboxLabel:hover{
  border: solid 2px black;
}

.academicsCheckbox:checked + .checkboxLabel{
  background-color: #004A80;
  color: #ffffff;
  cursor: pointer;
}
/*available academics form*/
#availableAcademicsTable {
  border-collapse: collapse;
  width: 100%;
}
#availableAcademicsTable th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
#availableAcademicsTable td, #availableAcademicsTable th {
  border-right: 1px solid #ddd;
  padding: 8px;
}
.tableLoadValue{
  text-align: center;
}
/*subDev Deletion Form*/
.subDevContainer{
  display: flex;
  width: 308px;
  min-height: 46px;
  justify-content:flex-start;
  flex-wrap: wrap;
  padding: 4px;
  border-style: solid;
  border-color: #004A80;
  border-radius: 6px;
  border-width: 2px;
  margin-bottom: .75em;
}
.subDevCheckboxLabel {
  height: 9em;
  width: 9em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2px;
  border: solid 2px #000000;
  border-radius: 6px;
  background-color:#F0F0F0;
  transition: all 0.1s;
  user-select: none;
}
.subDevCheckbox{
  display: none;
}
.subDevContainer label:hover{
  border: solid 3px black;
  background-color: #d8d8d8;
}
.subDevCheckbox:checked + label {
  background-color: #800000;
  color: #ffffff;
  cursor: pointer;
}